.jumbotron{
    margin-top: 7%;
    background-color: #E3E3E3;
    text-align: center;
}

.texto-encima {
  position: absolute;
  top: 10px;
  left: 250px;
  transform: translate(-5%, -5%);
  color: white;
}
